<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugin.JidValidationPlugin</class>
    <name>JID Validation</name>
    <description>Provides support for JID Validation Service</description>
    <author>Manasse Ngudia</author>
    <version>1.0</version>
    <date>11/09/2019</date>
    <minServerVersion>4.3.2</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <url>http://www.igniterealtime.org/projects/openfire/plugins.jsp</url>
    <licenseType>gpl</licenseType>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="jidvalidation-props-edit-form" name="${jidvalidation.props.edit.form.title}"
                    url="jidvalidation-props-edit-form.jsp"
                    description="${jidvalidation.props.edit.form.description}" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
