<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugin.JidValidationPlugin</class>
    <name>JID Validation</name>
    <description>Provides support for JID Validation Service</description>
    <author>Manasse Ngudia</author>
    <version>1.0.0</version>
    <date>2023-11-21</date>
    <minServerVersion>4.4.0</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <url>http://www.igniterealtime.org/projects/openfire/plugins.jsp</url>
    <licenseType>gpl</licenseType>
</plugin>
